body {
  background-color: tomato;
  background-image: url("../images/backgroundchilis.jpg");
  background-size: cover;
}

.input-field {
  background-color: white;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

#returned-recipes img {
  margin: 10px;
}

p {
  line-height: 2rem;
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}
