body {
  background-color: #f44336;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.bellota {
  font-family: "Bellota", cursive;
}

#logo {
  margin: 20px;
}

@media screen and (max-width: 600px) {
  #logo {
    margin: 12px;
  }
}

.flex-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill-space {
  flex: 1 1 auto;
}

.container {
  /* width: 100%; */
}

.input-field {
  background-color: white;
}

.flex-div {
  display: "flex";
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
  align-items: center;
}

.currency {
  margin-top: 5px;
}
