body {
  background-color: #ff5131;
}

#logo-container {
  height: 40px;
}
.input-field {
  background-color: white;
}
.sidenav-trigger {
  float: left;
}
nav ul a,
nav .brand-logo {
  color: #ffffff;
  position: inherit;
}

#github {
  height: 40px;
}

#returned-recipes img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-title {
  height: 150px;
}

p {
  line-height: 2rem;
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.table {
  background-color: yellow;
  color: black;
  margin-bottom: 10px;
}
